.button-div {
	background-color: blueviolet;
	color: red;
	width: 100px;
	height: 50px;
	font-family: Arial, Helvetica, sans-serif;
}

.runner-div-animated {
	background-color: red;
	width: 0px;
	height: 5px;
	animation-duration: 2s;
	animation-name: runner;
	animation-timing-function: linear;
	animation-iteration-count: 4.2;
}

@keyframes runner {
	0% {
		width: 10px;
	}
	100% {
		width: 500px;
	}
}

.runner-div {
	background-color: red;
	width: 0px;
	height: 5px;
}

.graph {
	border-color: red;
	border-width: 1px;
}
